<h2 class="screen-align">AddPlant</h2>
<div id="template-ivx6" class="row">
    <div id="template-iduw" class="cell">
        <label id="template-iprg" class="label">Name</label>
        <input id="template-igaq" [(ngModel)]="manufacture.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iabu4" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-i1da" class="cell">
        <label id="template-ibz3" class="label">model</label>
        <input id="template-iwvi" [(ngModel)]="manufacture.model"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
    <div id="template-idf3" class="cell">
        <label id="template-iisl" class="label">color</label>
        <input id="template-ixxfh" [(ngModel)]="manufacture.color"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>