<h2 class="screen-align">Testcompleterd</h2>
<div id="template-iouy" class="row">
    <div id="template-i8x4" class="cell">
        <label id="template-i2cc" class="label">test</label>
        <input id="template-iwqg" [(ngModel)]="testing.test" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i0e2" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-i5c8" class="cell">
        <label id="template-ibd2" class="label">fullcheck</label>
        <input id="template-i99c" [(ngModel)]="testing.fullchecking"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>